#bar-chart-attack .x.axis text { 
        text-anchor: end !important;     
        transform: rotate(-15deg);
        color:white
         }

#bar-chart-attack {


/*width: 1400px;*/
/*padding: 9px 15px;*/
/*background-color: #0e5e7f;*/
color: white;
margin-bottom: 20px;
margin-top: 20px;
border-radius: 5px;
}
      

#bar-chart-activity .x.axis text    { 
        text-anchor: end !important;     
        transform: rotate(-25deg);
        color:white
         }    

#years-chart .x.axis text {
    text-anchor: end !important;     
        transform: rotate(-45deg);

}

#bar-chart-attack .y.axis text {
    padding-left: 200px;
} 

body {
    background-color: #0e5e7f

}

#survival-chart {

padding-left: 100px;
color:white
}

#area-chart {

color:white

}

#injury-chart {

color:white

}

#bar-chart-activity {

color:white

}

#time-chart {

color:white

}

#title {

    padding-left: 100px


}

background {

    color:#0e5e7f
}

#menu-select {

    padding-left:600px
}

#chart-title {

    padding-left: 550px
}

#attack-per-year {
    color:white
}

.animationload {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #85d6de transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 80px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 80px;
}
@keyframes osahanloading {
0% {
    transform: rotate(0deg);
}