<!DOCTYPE html>
<html>
<head>
    <title>Graphs Page</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='custom.css')}}">
    
</head>
    <body>





<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <img class="w3-image" src="{{ url_for ('static', filename='images/jaws.jpg')}}" alt="Me" width="1500" height="600">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 style="padding-left:600px; color:white">Shark Attack</h1>
    <h4 class="sub-title" style="padding-left:520px">Select a country to view country-specific statistics</h4>
  </div>
  

<div class="col-sm-12">
        
          <div class="chart-title">
          </div>
          <div class="chart-stage">
            <div id="menu-select"></div>
            
          </div>
          
        </div>
        
      </div>


      <div id="total-attacks"><h4>Total Attacks</h4></div>
<div class="container-fluid">
        <div class="row">
            <div id="container" class="col-lg-12">
            <div class="chart-stage">
                <div id="total-attacks"></div>

        <div id="bar-chart-attack">Attacks By Country</div>
<div class="container-fluid">
        <div class="row">
            <div id="container" class="col-lg-12">
                    
            <div class="chart-stage">
                <div id="country-chart"></div>
            </div>
                </div>
            </div>
        </div>
</div>

<div id="bar-chart-activity">Attacks Per Activity</div>
<div class="container-fluid">
        <div class="row">
            <div id="container" class="col-lg-12">
            <div class="chart-stage">
                <div id="Activity-chart"></div>
            </div>
                </div>
            </div>
        </div>
</div>
        </div>
    </div>
<div class="container-fluid">
    <div class="row">
        <div id="container" class="col-lg-12">
            
<div id="survival-chart"><h4 style="padding-left:200px">Fatal? (Y/N)</h4></div>
<div id="injury-chart"><h4 style="padding-left:100px" >Injury Type</h4></div>
<div id="area-chart"><h4 style="padding-left:90px">Area of Attack</h4></div>
            </div>
                </div>
            </div>
    





<div id="bar-chart-activity">Species</div>
<div class="container-fluid">
        <div class="row">
            <div id="container" class="col-lg-12">
            <div class="chart-stage">
                <div id="bar-chart-species"></div>
            </div>
                </div>
            </div>
        </div>




<!-- <div id="years-chart" style='color:white'>Date of Attack</div>
<div class="container-fluid">
        <div class="row">
            <div id="container" class="col-lg-12">
            <div class="chart-stage">
                <div id="years-bar-chart"></div>
            </div>
                </div>
            </div>
        </div>
</div>  -->

 <div id="attacks-per-year" style='color:white'>Number of Attacks per Year</div> 
<div class="container-fluid">
        <div class="row">
            <div id="container" class="col-lg-12">
            <div class="chart-stage">
                <div id="attacks-per-year"></div>

<div class="container-fluid">
        <div class="row">
            <div id="container" class="col-lg-12">
            
            </div>


  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='Js/graph.js')}}"></script>
    </body>
